.Container{
  background-image : url(/public/bkg.jpg) ;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 500px;
  margin-top: -165px;
}
.img{
  width: 250px;
  border-radius: 50%;
  margin-top: 15%;
  margin-left: 10%;
  border: 5px white solid;
}
p{
  margin-left: 10%;
  color: rgb(148, 148, 148);
}
h1{
   font-family:  'Trebuchet MS', sans-serif;         
  margin-left: 10%;
  margin-top: -10px;
  color: #765b56;
}